<div class="container-fluid h-100">
  <div class="row p-3 h-100">

    <div class="col-md-2 text-light p-3 rounded d-flex flex-column" style="background: rgba(0, 0, 0, 0.3)">
      <div>
        <a class="text-center d-block py-3" href="#"><img src="assets/logo.png" alt="logo" class="w-75 d-block mx-auto" ></a>
      </div>
      <div class="d-flex flex-column h-100">

        <a href="" class="d-block btn p-3 text-light text-left">Home</a>
        <a href="" class="d-block btn p-3 text-light text-left">Link 1 asgd asdkj asjkd ha</a>
        <a href="" class="d-block btn p-3 text-light text-left">Link 2</a>
        <a href="" class="d-block btn p-3 text-light text-left">Link 3</a>

        <div class="d-flex flex-column flex-grow-1 justify-content-end">
          <a href="" class="d-block btn btn-sm btn-light">Logout</a>
        </div>

      </div>
    </div>

    <div class="col p-3 ml-md-3 bg-light rounded overflow-auto">
      <h1 class="text-dark"><b>{{ this.title }}</b></h1>
      <div>

      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
