<div><a class="text-center d-block py-3" href="#"><img src="/static/images/logo.png" alt="logo" class="w-75 d-block mx-auto" ></a></div>
<div class="d-flex flex-column h-100">

<a href="{% url 'dashboard' %}" class="d-block btn p-3 text-light text-left"><i class="fas fa-home mr-3"></i>Dashboard</a>
<a href="{% url 'threats.all' %}" class="d-block btn p-3 text-light text-left"><i class="fas fa-virus mr-3"></i>Threats</a>
<a href="{% url 'reports.all' %}" class="d-block btn p-3 text-light text-left"><i class="fas fa-history mr-3"></i>Reports</a>
<a href="#" class="d-block btn p-3 text-light text-left"><i class="fas fa-chart-line mr-3"></i>Analytics</a>
<a href="{% url 'user.settings' %}" class="d-block btn p-3 text-light text-left"><i class="fas fa-cog mr-3"></i>Settings</a>
<a href="{% url 'server.configure' %}" class="d-block btn p-3 text-light text-left"><i class="fas fa-cog mr-3"></i>Configure Server</a>

<div class="d-flex flex-column flex-grow-1 justify-content-end">
  <a href="{% url 'logout' %}" class="d-block btn btn-sm btn-light">Logout</a>
</div>

</div>